##############################
## Folders                  ##
##############################
Library/*
UnityPackageManager/*
VR_Sequence/*
.vs/*
IWedding/*
obj/*
Debug/*
Temp/*
.vs/IWedding/v15/.suo
.vs/IWedding/v15/sqlite3/storage.ide
Assets/Resources/Item/新欧式/oushi2.fbx
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
*.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
*.cache
obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
IWedding.zip
