##############################
## Folders                  ##
##############################
Library/*
UnityPackageManager/*
VR_Sequence/*
.vs/*
IWedding/*
obj/*
Debug/*
Temp/*
.vs/IWedding/v15/.suo
.vs/IWedding/v15/sqlite3/storage.ide
*.cache
*.meta
